<html>
  <head>
    <title>minidash</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Work+Sans"
    />
    <style>

      * { box-sizing: border-box; } body { font-family: 'Work Sans', sans-serif;
      margin: auto; max-width: 95%; max-height: 100%; } @media (min-width:
      1366px) { body { max-width: 70%; } } .app-icon-container, body { display:
      flex; justify-content: center; align-items: center; min-height:
      min-content; } .container { width: 70%; margin: auto; padding: 1rem 0; }
      .apps, .bookmarks, .title { padding: 1rem 0; margin: 0; } .apps,
      .bookmarks { display: grid; gap: 1rem; grid-template-columns:
      repeat(auto-fit, minmax(200px, 1fr)); } .app-icon { width: auto; display:
      block; padding: 10px; font-family: "Material Icons";
      font-feature-settings: "liga"; font-weight: normal; font-style: normal;
      letter-spacing: normal; word-wrap: normal; white-space: nowrap;
      -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
      text-transform: none; text-rendering: optimizeLegibility; } .app-container
      { display: flex; } .app-link { font-size: 0.65rem; } .app-title,
      .group-title { font-size: 1rem; } .app-title, .app-link, .bookmark-link {
      display: block; text-decoration: none; } .app-link:hover,
      .bookmark-link:hover { text-decoration: underline; } @media
      (prefers-color-scheme: dark) { body { color: #ABB2BF; background: #282C34;
      } .app-link, .bookmark-link { color: #61AFEF; } } @media
      (prefers-color-scheme: light) { body { color: #383A42; background:
      #FFFFFF; } .app-link, .bookmark-link { color: #4078F2; } }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="title">minidash</h1>

      <div class="apps">
        {{#each apps}}
          <div class="app-container">
            <div class="app-icon-container">
              <i class="app-icon">{{this.icon}}</i>
            </div>
            <div class="app-info-container">
              <b class="app-title">{{@key}}</b>
              <a class="app-link" href={{this.url}}>{{this.display_url}}</a>
            </div>
          </div>
        {{/each}}
      </div>

      <div class="bookmarks">
        {{#each bookmarks}}
          <div id="bookmark-group-{{@key}}">
            <b class="group-title">{{@key}}</b>
            {{#each this}}
              <div class="bookmark-list">
                <a class="bookmark-link" href="{{this.url}}">{{this.name}}</a>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>