<html>
  <head>
    <title>minidash</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="static/css/index.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">minidash</h1>

      <div class="apps">
        {{#each apps}}
          <div class="app-container">
            <div class="app-icon-container">
              <i class="app-icon">{{this.icon}}</i>
            </div>
            <div class="app-info-container">
              <b class="app-title">{{@key}}</b>
              <a class="app-link" href={{this.url}}>{{this.display_url}}</a>
            </div>
          </div>
        {{/each}}
      </div>

      <div class="bookmarks">
        {{#each bookmarks}}
          <div id="bookmark-group-{{@key}}">
            <b class="group-title">{{@key}}</b>
            {{#each this}}
              <div class="bookmark-list">
                <a class="bookmark-link" href="{{this.url}}">{{this.name}}</a>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>